<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: nav"></nav>



<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label for="name-field">Player Name</label>
        <input class="form-control" id="name-field" type="text" name="playerName" />
    </div>
    <div class="form-group">
        <label for="desc-field">Bios</label>
        <input class="form-control" id="desc-field" type="text" name="playerBios" />
    </div>
    <input type="submit" value="Add Prospect" />
</form>

</body>
</html>