<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: nav"></nav>

<p th:unless="${players} and ${players.size()}"> no players yet :(</p>



<table class="table">

    <tr>
        <th>Name</th>
        <th>Bios</th>
    </tr>

    <tr th:each="player : ${players}">
        <td th:text="${player.name}"></td>
        <td th:text="${player.bios}"></td>
    </tr>



</table>



</body>
</html>